<p> This Is My First Snippet ! {{ word }} Halo semuanya perkenalkan dasdasd asdaskajljlsjf

nama gue hasbirsdfsdfihjghjza ,aasdassdadaasdadasdasdsdasds Mau Cek kasdasetika reaasassdsaasdasloadnya seperti sadasasdsad {{ second_word }} </p>

<script src="{{ 'mysnippetscript.js' | asset_url }}" async> </script>